@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Add inner grip lines to handles for better UI */
div.wavesurfer-handle::after {
  content: '';
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 4px !important;
  height: 16px !important;
  border-left: 1px solid rgba(255, 255, 255, 0.8) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.8) !important;
}

/* Expand the invisible clickable area around the handles so they are easy to grab on mobile */
div.wavesurfer-handle::before {
  content: '';
  position: absolute !important;
  left: -20px !important;
  right: -20px !important;
  top: -10px !important;
  bottom: -25px !important;
  background: transparent !important;
}